<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Committee Members</title>
</head>

<body>

	<div class="content">
		<h1> Committee Members </h1>
		<ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="/students">All Students</a></li>
			<li><a href="/societies">All Societies</a></li>
			<li><a href="/events">Events</a></li>
		  </ul>
		<section class="dataTable">
		  <table class="data">
			<tr>
			  <th>Name</th>
			  <th>Position</th>
			  <th>Email(s)</th>
			</tr>
			<% committeeMember.forEach(member => { %>
			  <tr>
				<td><%- member.Committee_name %></td>
				<td><%- member.Committee_Position %></td>
				<td>
					<!--
						Below filters the committeeEmail 
						array to get only those emails that match the Committee_name of the current member.
					-->
					<% const emails = committeeEmail.filter(email => email.Committee_name == member.Committee_name); %>
					<%= emails.map(email => email.committee_email).join(', ') %>
				  </td>
			  </tr>
			<% }); %>
		  </table>
		</section>
	  </div>
	  

</body>

</html>